body{
    background-image: url("../Images/joseph-barrientos-oQl0eVYd_n8-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#landing {
    height: 389px;
    padding-top: 100px;     
    font-display: center;
}

#headerTxt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 100px;
}

.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
}


.cards{
  border-color: none;
}

#meTitle {
    color: blueviolet;
}

