body{
    background-image: url("../Images/joseph-barrientos-oQl0eVYd_n8-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#landing {
    height: 350px;
    padding-top: 150px;     
    font-display: center;
}

#feat {margin-top: 50px;}

#headerTxt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 100px;
}

.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
}
 h3 {color: white;}

.card { background-color: rgba(245, 245, 245, 0.4); }
.card-header, .card-footer { opacity: 0}

#meTitle {
    margin-top: 50px;
    height: 389px;
    background-color: white;
}

.breakOut {
    width: 100vw;
    position: relative;
    left: calc(-1 *(100vw - 100%) / 2);
    color: rgba(0, 0, 0, .6);
}

